<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Welcome to KBE Customer Management System Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<!-- Create navigation bar   -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" th:href="@{/}">Registration</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Pricing</a>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </div>
        </div>
    </div>
</nav>

<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>User Login</h1>
            <form th:action="@{/login}" method="POST">
                <!-- Error message  -->
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Invalid Username or password!
                    </div>
                </div>

                <!-- Logout Message     -->
                <div th:if="${param.logout}">
                    <div class="alert alert-info">
                        You have successfully logged out!
                    </div>
                </div>

                <div class="form-group">
                    <label for="username"> Username or Email</label>
                    <input type="text" class="form-control" id="username" name="username"
                           placeholder="Username or email" autofocus="autofocus">
                </div>

                <div class="form-group">
                    <label for="password"> Password </label>
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="Password" autofocus="autofocus">
                </div>

                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <button type="submit" name="login-submit" id="login-submit"
                                class="form-control btn btn-primary">
                            Log In
                        </button>
                    </div>
                </div>
            </form>
            <div class="form-group">
                <span>New User? <a href="/" th:href="@{/registration}"> Register Here</a></span>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
</body>
</html>